.button {
    width: 120px;
    height: 40px;
    background-color: rgba(108, 228, 249, 1);
    border-radius: 8px;
    font-size: 28px;
    font-weight: 700;
    color: rgba(39, 44, 51, 1);
}

.disabled {
    background-color: rgb(61, 120, 134);
}