.wrapper {
  min-width: 350px;
  height: 300px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
}

.screen {
  height: 160px;
  margin: 20px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  height: 1.5em;
  font-size: 90px;
  font-weight: 700;
  color: rgba(108, 228, 249, 1);
}

.title {
  font-size: 18px;
}

.buttons {
  padding: 10px;
  margin: 0 20px 20px 20px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}
