.wrapper {
  width: 400px;
  height: 300px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
}

.screen {
  margin: 20px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
}

.input {
  margin: 40px 40px;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: rgba(108, 228, 249, 1);
  padding: 10px;
}

.numbers {
  text-align: center;
}

.buttons {
  padding: 10px;
  margin: 0 20px 20px 20px;
  border: 2px solid rgba(108, 228, 249, 1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
